.container{
   display: grid;    
   height: 100%;
   /*background-color: rgba(104, 179, 202, 0.8);*/
   grid-template-columns: 30px 30px 30px;
   grid-template-rows: 30px 30px 30px;
   row-gap: 5px;
   column-gap: 5px;
   align-content: center;
}
#item1{
   background-color: white;
   text-align: center;
   align-self: center;
   place-self: center;
}